.pagination_section {
    display: flex;
    max-width: 80%;
    gap: 1rem;    
}

.pagination_section button{
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    padding: 0.5rem;
    border: 3px solid #ccc;
    display: block;
    color: #000;
    transition: all linear 0.2s;
}

.pagination_section button:hover {
    background-color: #999;
}
